![](IPL.png)

######  Importing important libraries

In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
import seaborn as sns

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
%matplotlib inline

###### Importing datasets

In [ ]:
df = pd.read_csv("deliveries.csv")

In [ ]:
df1 = pd.read_csv('matches.csv')

###### Show top 5 rows of the datasets

In [ ]:
df.head()

In [ ]:
df1.head()

######  Missing data

In [ ]:
df.isnull()

In [ ]:
df1.isnull()

In [ ]:
df.shape

In [ ]:
df1.shape

In [ ]:
df.size

In [ ]:
df1.size

###### Columns of the datasets

In [ ]:
df.columns

In [ ]:
df1.columns

In [ ]:
#####   data types of datasets

In [ ]:
df.dtypes

In [ ]:
df1.dtypes

In [ ]:
df.info

In [ ]:
df1.info

In [ ]:
df.describe()

In [ ]:
df1.describe()

In [ ]:
###### check duplicates values

In [ ]:
df[df.duplicated()]

In [ ]:
#   there are 23 rows that are duplicates in df dataset

In [ ]:
df1[df1.duplicated()]

In [ ]:
###########   there is no duplicates in df1 dataset

######  Remove duplicated records

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df1.drop_duplicates(inplace=True)

In [ ]:
####   Now check shape and size of the datasets after dropping duplicates

In [ ]:
df.shape

In [ ]:
df.size

In [ ]:
df1.shape

df1.size

Now check missing values

In [ ]:
df.isnull().sum()

In [ ]:
#######   there are so many missing values in player_dismissed,dismissal_kind,fielder  columns

In [ ]:
df1.isnull().sum()

In [ ]:
#######   there are so many missing values in city,winner,player_of_match,umpire1,umpire2,umpire3

In [ ]:
#####  Check total unique values

In [ ]:
df.nunique()

In [ ]:
df1.nunique()

### Now merge the datasets df and df1

In [ ]:
df2 = pd.merge(df,df1,left_on='match_id',right_on="id")

In [ ]:
df2.head()

In [ ]:
df2.describe()

######  Visualizing our data

In [ ]:
###   Number of inning in ipl

In [ ]:
sns.countplot(x='inning',data = df2)

In [ ]:
###   Number of matches played in each season

In [ ]:
sns.countplot(x='season',data = df2)

In [ ]:
####  From above diagram we can see that ,in year 2014 ,season have most of the matches

In [ ]:
#####  Winners of each season

In [ ]:
plt.figure(figsize=(32,8))
sns.countplot(x='winner',data=df2)
plt.title("Number of winners in seach season")
plt.xlabel("winner")
plt.ylabel('Number of runs')

In [ ]:
####  Number of unique stadiums teams played on

In [ ]:
plt.figure(figsize=(32,10))
df2.groupby('batting_team')['venue'].nunique().plot(kind='bar',fontsize=22)
plt.xlabel('Team name')
plt.ylabel('Played match on a stadium')

######   Teams Played in each season

In [ ]:
plt.figure(figsize = (32,8))
df2.groupby('season')['team1'].nunique().plot(kind='bar')
plt.title('Team played in eac season',fontsize=30)
plt.xlabel("Season",fontsize=30)
plt.ylabel("number of team",fontsize=15)

######  Venue most hosted

In [ ]:
plt.figure(figsize=(32,16))
sns.countplot(x='venue',data=df2,order=df2['venue'].value_counts().index)
plt.title("Venue where most IPL matches played")
plt.xticks(rotation=90)
plt.xlabel("winner",fontsize=40)
plt.ylabel('Number of matches',fontsize=40)

########  Eden garden was the place where most number of matches was played

######   Season wise winning teams

In [ ]:
winning_teams=df2[['season','winner']]
winner_team = {}
for i in sorted(winning_teams.season.unique()):
    winner_team[i]=winning_teams[winning_teams.season==i]['winner'].tail(1).values[0]
winner_IPL=pd.Series(winner_team)
winner_IPL = pd.DataFrame(winner_IPL,columns=['winner team'])
print("Winner are",winner_IPL)

In [ ]:
plt.figure(figsize=(32,8))
winner_IPL['winner team'].value_counts().plot(kind='bar')
plt.title('Winner of IPL across 11 country',fontsize=15)
plt.xlabel("team",fontsize=20)
plt.ylabel("No. of seasons",fontsize=20)

###### How many choose to ball and bat first?

In [ ]:
plt.figure(figsize=(32,8))
(df2['toss_decision'].value_counts()).plot(kind='pie',autopct='%1.1f%%',fontsize=20)
plt.title("Decision to bat or ball",fontsize=20)

In [ ]:
####   so most of the teams choose to field first

######   How many actually won after winning toss?

In [ ]:
df2['tosswin_win']=np.where((df2.toss_winner==df2.winner),'Yes','No')
plt.figure(figsize=(32,8))
sns.countplot(x='tosswin_win',data=df2,hue='toss_decision',palette='viridis')
plt.xlabel("Winning toss winning match",fontsize=30)

In [ ]:
####  unique team toss decision after winning toss

In [ ]:
plt.figure(figsize=(32,8))
sns.countplot(x = 'toss_winner',data=df1,hue = 'toss_decision',palette='rocket')
plt.title("Individual team toss decision after winning toss",fontsize=16)
plt.xlabel("Teams",fontsize=16)
plt.xticks(rotation=90)
plt.ylabel('Frequency',fontsize=18)

CSK choose to bat first even after winning toss but all teams choose to ball first

###### Most time man of the match

In [ ]:
plt.figure(figsize=(24,8))
sns.countplot(x='player_of_match',data=df1,order=df2['player_of_match'].value_counts().head(15).index,palette='rainbow')
plt.title("Top players with most man of the match",fontsize=15)
plt.xlabel('Player name',fontsize=24)
plt.ylabel('Frequency',fontsize=24)

######  Highest run makers of IPL

In [ ]:
df.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(10).plot(kind='bar',figsize=(32,8))
plt.title("Top scores of IPL",fontsize=15)
plt.xlabel('Player name',fontsize=24)
plt.xticks(rotation=90)
plt.ylabel('Runs got',fontsize=24)

Kohli and Raina are the top run makers of IPL

###### Top wicket takers of IPL

In [ ]:
df.groupby('bowler')['player_dismissed'].count().sort_values(ascending=False).head(10).plot(kind='bar',figsize=(32,8),color='red')
plt.title("Top wicket wickets of IPL",fontsize=15)
plt.xlabel('Bowlers',fontsize=24)
plt.xticks(rotation=90)
plt.ylabel('Total wickets taken',fontsize=24)

Malinga and then Bravo has taken highest wickets in IPL

###### Total scored runs in a season

In [ ]:
df2.groupby('season')['batsman_runs'].sum().plot(kind='bar',color='purple')
plt.title('Total scoring runs over the seasons of the ipl',fontsize=24)
plt.xlabel('Seasons',fontsize = 26)
plt.ylim(5000,30000)
plt.ylabel("total runs")

##############################################################################################################################################################

##############################################################################################################################################################

#####  Analyzing the dataset"s

Having the correlation between each measured value of the dataset

In [ ]:
df2.corr()

In [ ]:
df2.corr()
plt.figure(figsize=(32,32))
sns.heatmap(df2.corr())
plt.show()

##### Seeing which team prefers bat and which team prefers ball first

In [ ]:
df1['toss_decision'].value_counts()

In [ ]:
df2['toss_decision'].value_counts()

In [ ]:
df1['season'].value_counts()

In [ ]:
plt.figure(figsize = (12,5))
sns.countplot(data= df1,x='season')
plt.title('Number of matches season wise',fontsize=24)
plt.ylabel("Number of matches")
plt.show()

In [ ]:
#####   Season wise match results
plt.figure(figsize=(32,16))
sns.countplot(x=df2['season'],hue=df2['result'])
plt.xticks(rotation=90)
plt.show()

In [ ]:
plt.figure(figsize= (32,16))
sns.countplot(x=df2['venue'])
plt.xticks(rotation=90)
plt.show()

In [ ]:
plt.figure(figsize= (32,16))
sns.countplot(y='winner',data=df2)
plt.show()

######  Most Number of times toss winners

In [ ]:
toss_win=df1['toss_winner'].value_counts()
toss_win

In [ ]:
plt.figure(figsize= (32,16))
sns.barplot(y=toss_win,x=toss_win.index)
plt.xticks(rotation=90)
plt.show()

####   Man of the match ,most time

In [ ]:
MOM = df2['player_of_match'].value_counts()[:20]
plt.figure(figsize=(32,16))
sns.barplot(data=df2,y=MOM,x=MOM.index)

In [ ]:
######   Number of times a team has won the match after winning the toss

In [ ]:
np.sum(df1['toss_winner']==df1['winner'])

In [ ]:
#####   Teams that won for the batting first ,most time

In [ ]:
bat_first=df1[df1['win_by_runs']!=0]
bat_first

#####  Batsman with highest sixes

In [ ]:
c=df2.groupby('batsman').count()['batsman_runs'].sort_values(ascending=False).head(10)
c

In [ ]:
plt.figure(figsize=(32,16))
sns.barplot(data=df2,x=c.index,y=c)

In [ ]:
######   Top wicket takers

In [ ]:
df2.groupby('bowler')['player_dismissed'].count().sort_values(ascending=False).head(10).plot(kind='bar',color='purple')
plt.title("Top wicket taker of the IPL")
plt.xlabel("Bowler name")
plt.ylabel("No. of wickets taken")
plt.show()