![](maxresdefault.png)

![](IPL.png)

######  Importing important libraries

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

###### Importing datasets

In [ ]:
df = pd.read_csv("deliveries.csv")

In [ ]:
df1 = pd.read_csv('matches.csv')

###### Show top 5 rows of the datasets

In [ ]:
df.head()

In [ ]:
df1.head()

######  Missing data

In [ ]:
df.isnull()

In [ ]:
df1.isnull()

In [ ]:
df.shape

In [ ]:
df1.shape

In [ ]:
df.size

In [ ]:
df1.size

###### Columns of the datasets

In [ ]:
df.columns

In [ ]:
df1.columns

In [ ]:
#####   data types of datasets

In [ ]:
df.dtypes

In [ ]:
df1.dtypes

In [ ]:
df.info()

In [ ]:
df1.info()

In [ ]:
df.describe()

In [ ]:
df1.describe()

In [ ]:
###### check duplicates values

In [ ]:
df[df.duplicated()]

In [ ]:
#   there are 23 rows that are duplicates in df dataset

In [ ]:
df1[df1.duplicated()]

In [ ]:
###########   there is no duplicates in df1 dataset

######  Remove duplicated records

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df1.drop_duplicates(inplace=True)

In [ ]:
####   Now check shape and size of the datasets after dropping duplicates

In [ ]:
df.shape

In [ ]:
df.size

In [ ]:
df1.shape

In [ ]:
df1.size

Now check missing values

In [ ]:
df.isnull().sum()

In [ ]:
#######   there are so many missing values in player_dismissed,dismissal_kind,fielder  columns

In [ ]:
df1.isnull().sum()

In [ ]:
#######   there are so many missing values in city,winner,player_of_match,umpire1,umpire2,umpire3

In [ ]:
#####  Check total unique values

In [ ]:
df.nunique()

In [ ]:
df1.nunique()

### Now merge the datasets df and df1

In [ ]:
df2 = pd.merge(df,df1,left_on='match_id',right_on="id")

In [ ]:
df2.head()

In [ ]:
df2.describe()

##  Visualizing our data

#####   Total runs in each innings in all IPL season

In [ ]:
x=df2['inning'].unique()
x

In [ ]:
l=[]
for i in df2['inning'].unique():
    print(df2[df2['inning']==i]['total_runs'].sum())
    l.append(df2[df2['inning']==i]['total_runs'].sum())

In [ ]:
plt.figure(figsize=(24,8))
plt.plot(x,l,color='green', marker='o', linestyle='dashed',markersize=12)
plt.xlabel("Innings number")
plt.ylabel("total runs made")
plt.show()

######  Total runs made in each city

In [ ]:
plt.figure(figsize=(16,16))
sns.countplot(x=df2['city'],data=df2)
plt.xlabel("city name")
plt.ylabel('total runs')
plt.xticks(rotation = 90)
plt.show()

######  Total runs scored by team

In [ ]:
plt.figure(figsize=(16,16))
sns.countplot(x='winner',data=df2)
plt.title("team scored total runs")
plt.xlabel("team name")
plt.ylabel('Total runs')
plt.xticks(rotation=90)
plt.show()

######  Number of unique stadiums teams played on

In [ ]:
plt.figure(figsize=(16,16))
df2.groupby('batting_team')['venue'].nunique().plot(kind='bar',fontsize=22)
plt.xlabel('Team name')
plt.ylabel('Played match on a stadium')

######   Teams Played in each season

In [ ]:
plt.figure(figsize = (16,16))
df2.groupby('season')['team1'].nunique().plot(kind='bar')
plt.title('Team played in each season',fontsize=30)
plt.xlabel("Season",fontsize=30)
plt.ylabel("number of team",fontsize=15)

from upper bar chart we can say that in 2011 most team played in across all seasons

##### Number of times a team won a match

In [ ]:
plt.figure(figsize=(20,20))
df1['winner'].value_counts().plot(kind='bar',fontsize=30)
plt.xlabel('team name')
plt.ylabel('number of times a team won a match')
plt.xticks(rotation=90)
plt.show()

####   Team played as team 2 in each season

In [ ]:
plt.figure(figsize=(32,20))
df1.groupby('team2')['season'].nunique().plot(x=df1,kind='bar',fontsize=30)
plt.xlabel('team name',fontsize=40)
plt.ylabel("number of times",fontsize=40)
plt.xticks(rotation=90)
plt.show()

######  Venue most runs made

In [ ]:
df2['venue'].value_counts()

In [ ]:
plt.figure(figsize=(16,16))
sns.countplot(x='venue',data=df2)
plt.title("Venue where most IPL matches played",fontsize=30)
plt.xticks(rotation=90)
plt.xlabel("venue name",fontsize=40)
plt.ylabel('Number of runs',fontsize=40)

######  Venue most hosted

In [ ]:
plt.figure(figsize=(16,16))
sns.countplot(x=df1['venue'])
plt.xlabel('venue_name',fontsize=30)
plt.ylabel('number of times',fontsize=30)
plt.xticks(rotation=90)
plt.show()

Eden garden was the place where most number of matches was played

######   Season wise winning teams

In [ ]:
x=df2[['season','winner']]
team_name = {}
for i in sorted(x.season.unique()):
    team_name[i]=x[x.season==i]['winner'].tail(1).values[0]
winners=pd.Series(team_name)
winners = pd.DataFrame(winners,columns=['team_name'])
print("Winner are",winners)

In [ ]:
plt.figure(figsize=(8,8))
winners['team_name'].value_counts().plot(kind='bar')
plt.title('Winners of IPL ',fontsize=30)
plt.xlabel("team",fontsize=30)
plt.ylabel("No. of times won ",fontsize=30)

###### How many choose to ball and bat first?

In [ ]:
sns.countplot(x=df1['toss_decision'],data=df1)
plt.xlabel("choosen bat or field")
plt.ylabel("number of times")
plt.show()

In [ ]:
######   so most of the teams choose to field first

####  How many times a team choose to ball first only in all seasons

In [ ]:
plt.figure(figsize=(16,16))
df2.groupby('bowling_team')['season'].nunique().plot(kind='bar')
plt.xticks(rotation=90)
plt.xlabel("team name")
plt.ylabel("frequency")
plt.show()

#####   How many chooses to field first and won ?

In [ ]:
plt.figure(figsize=(14,14))
sns.countplot(x=df1[df1['toss_decision']=='field']['winner'])
plt.xticks(rotation=90)
plt.ylabel('counts')
plt.show()

##### How many chooses to bat first and won ?

In [ ]:
plt.figure(figsize=(16,16))
sns.countplot(x=df1[df1['toss_decision']=='bat']['winner'])
plt.xticks(rotation=90)
plt.ylabel('counts')
plt.show()

###### Most time man of the match

In [ ]:
plt.figure(figsize=(16,16))
df1['player_of_match'].value_counts().head(10).plot(kind='bar')
plt.xlabel('Player name',fontsize=24)
plt.ylabel('Number of times became man of the match',fontsize=24)

######  Highest run makers of IPL

In [ ]:
plt.figure(figsize=(16,16))
df.groupby('batsman')['batsman_runs'].sum().sort_values().tail(10).plot(kind='bar')
plt.title("Top scores of IPL",fontsize=15)
plt.xlabel('Player name',fontsize=24)
plt.xticks(rotation=90)
plt.ylabel('Runs got',fontsize=24)

Kohli and Raina are the top run makers of IPL

#####  Total runs made in each season

In [ ]:
plt.figure(figsize=(16,16))
df2.groupby('season')['total_runs'].sum().plot(kind='bar')
plt.xlabel('season')
plt.ylabel('total runs')
plt.xticks(rotation=90)
plt.show()

In [ ]:
####  From above diagram we can see that ,in year 2013 ,season have most of the runs

Highest runs was made in 2013

###### Top wicket takers of IPL

In [ ]:
plt.figure(figsize=(16,16))
df.groupby('bowler')['player_dismissed'].count().sort_values().tail(10).plot(kind='bar')
plt.title("Top wicket wickets of IPL",fontsize=15)
plt.xlabel('Bowlers',fontsize=24)
plt.xticks(rotation=90)
plt.ylabel('Total wickets taken')

Malinga and then Bravo has taken highest wickets in IPL

##### total matches per season

In [ ]:
plt.figure(figsize=(16,16))
df1['season'].value_counts().sort_values().plot(kind='bar')
plt.xlabel('year')
plt.ylabel('number of matches')
plt.show()

Having the correlation between each measured value of the dataset

In [ ]:
df2.corr()

In [ ]:
df2.corr()
plt.figure(figsize=(16,16))
sns.heatmap(df2.corr())
plt.show()

######   Season wise match results

In [ ]:
plt.figure(figsize=(16,16))
sns.countplot(x=df1['season'],hue=df1['result'],data=df1)
plt.xticks(rotation=90)
plt.show()

######   Total runs made by each winner

In [ ]:
plt.figure(figsize= (16,16))
sns.countplot(y='winner',data=df2)
plt.show()

######  Most Number of times toss winners

In [ ]:
df1['toss_winner'].value_counts()

In [ ]:
plt.figure(figsize=(16,16))
df1['toss_winner'].value_counts().plot(kind='bar')
plt.xlabel("team name")
plt.ylabel("toss_wins_time")
plt.show()

######   Number of times a team has won the match after winning the toss

In [ ]:
np.sum(df1['toss_winner']==df1['winner'])

##     Task- 5  --------> Exploratory Data Analysis on Indian Premier League

###      Completed

## Data Science and Business Analytics Intern

###       Name ------->   Swetanshu Pandey